.over-fow-1{
    height: 300px;
    width: 50%;
    float: left;
    background-color: brown;
    overflow: auto;
}
.over-fow-2{
    height: 300px;
    width: 50%;
    float: left;
    background-color: rgb(165, 42, 108);
}
.over-fow-3{
    height: 300px;
    width: 50%;
    float: left;
    background-color: rgb(165, 85, 42);
}
.over-fow-4{
    height: 300px;
    width: 50%;
    float: left;
    background-color: rgb(77, 42, 165);
}