/* ********************* Assignment start ********************* */
*{
    margin: 0px;
    padding: 0px;
}
/* ***************** First Bos ******************* */
body{
    overflow:initial !important;
}
.First{
    width: 100%;
    height:50px;
    background-color: blue;
}
.First-left{
    width: 30%;
    height: 50px;
    /* background-color: blueviolet; */
    float: left;
}
.First-header-1{
    list-style-type: none;

     li a{
        text-decoration: none;
        float: left;
        font-size: 15px;
        padding: 15px;
    
    }
}

.First-right{
    width: 70%;
    height: 50px;
    /* background-color:blue; */
    float: left;
}
.First-header-2{
    list-style-type: none;
    float: left;
    padding:8px;
    li {
        text-decoration: none;
        float: left;
        padding: 0 20px;
        margin-left: 110px;
        margin-top: 5px;
        color: white;
       button{
        padding: 8px 20px;
        border-radius: 10px;
        border: none;
        color:orangered;
        font-size: 15px;
        margin-top: -5px;  
        background-color: white;       
       }   
       
    }
}
/* ************************* Seconde Box ********************** */
.second-Box{
    width: 100%;
    height: 90px;
    /* background-color: purple; */
    background-color: white;
    position: fixed;
    top: 0px ;
    z-index: 999;
    
    
}
.second-box-container{
    width: 100%;
    height: 90px;
}
.second-heading-1{
    width: 30%;
    height: 90px;
    float: left;
    /* background-color: rgb(201, 19, 19); */

}
.logoimg{
    width: 30%;
    height: 75px;
    float: left;
    margin-left: 150px;
}
.second-heading-2{
    width: 70%;
    float: left;
    /* background-color: yellow; */
    height: 90px;
    
}
.heading-second{
    list-style-type: none;
    li{
        position: relative;
    }
    li {
        text-decoration: none;
        float: left;
        color: black;
        padding: 15px;
        font-size: 20px;
        line-height: 30px;

        a{
            text-decoration: none;
            color: black;
        }
        
        i{
            text-align: center;
            font-size: 25px;
            margin-left: 10px;
        } 
    }
}

.dropdown{
    position: relative;
}

.dropdown-menu{
    position: absolute;
    width: 300px;
    height:250px;
    background-color:white;
    top: 80px;
    border-radius: 20px;
    display: none;
    border: 1px solid black;
    box-shadow: 5px 7px 5px ;
    

    li{
        float: none;
        padding: 5px;
        list-style-type: none;
        color: black;
        padding-left: 20px;
    }

}
.dropdown:hover .dropdown-menu{
    display: block;
}
.second-heading-2 ul li a:hover{
    color: #00C3FF ;
}

/* *********************** Home section ***************** */
.home-box{
    /* background-color: red; */
    width: 100%;
    height: 760px;
    float: left;
}
.img-box{
    background-image: url(home-background.png);
    width: 100%;
    height: 750px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.imgBox{
    /* background-color: #00C3FF; */
    height: 550px;
    width: 90%;
    float: left;
    margin-left: 200px;
}
.img-left{
    float: left;
    height: 550px;
    width: 50%;
    /* background-color:black; */
}
.left-head{
    margin-top: 200px;
    margin-left: 200px;
    font-size: 30px;
    color: white;
}
.left-head-2{
    margin-left: 150px;
    font-size: 35px;
    margin-top: 10px;
    color: white;
}
.left-para{
    margin-left: 220px;
    font-size: 20px;
    margin-top: 10px;
    color: white;
}
.img-right{
    float: left;
    height: 550px;
    width: 50%;
    /* background-color: blueviolet; */
}
.right-img{
    height: 550px;
    width: 100%;
    margin-top: 18px;
}
/* ************** Home section second BOx ********* */
.home-section-second{
    /* height: 430px; */
    width: 100%;
    float: left;
    /* background-color: blue; */
}
.home-section-box1{
    height: 350px;
    width: 23%;
    float: left;
    /* background-color: green; */
    margin: 10px;
}
.home-section-box1:hover{
    margin-top: -10px;
}
.Box-1{
    height: 300px;
    width: 100%;
    /* background-color: brown; */
    border-radius: 30px;
    box-shadow: 5px 5px 7px 7px rgba(0,0,0 ,0.3);
    position: relative;
}
.Box-1:hover{
    background-color:#0164E7;
}

.Box-1:hover .Box-11{
    
    background-color: white;
    i{
        color: #0164E7 !important;
    }
}


.Box-11{
    height: 60px;
    width: 65px;
    background-color:#0164E7;
    border-radius: 50px;
    margin: auto;
    box-shadow: 5px 5px 5px;
    text-align: center;
       
    i{
        font-size: 40px;
        margin: 10px 0;
        color: white;
    }
}

.Box-11-head{
    text-align: center;
    margin-top: 20px;
}
.Box-11-para{
    text-align: center;
    margin-top: 8px;
    font-size: 20px;
}
.Box-11-para1{
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
}
.Box-11-para2{
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
}
.Box-11-para3{
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
}
.button-1{
    list-style-type: none;
    li button{
        padding: 5px 5px 5px 10px;
        border-radius: 40px;
        border: none;
        position: absolute;
        bottom: -15px;
        left: 30%;
        background-color: red;
        font-size: 15px;
        color: white;
        
    
        i{
            
            border: 1px;
            margin-left: 5px;
            padding: 10px;
            border-radius: 50%;
            background-color: white;
            color: red;
            
        }
        
    }
}
/* **************************** About section ****************** */
.About-Section{
    /* height: 700px; */
    width: 100%;
    /* background-color: yellow; */
    float: left;
    background-image: url(about-img.png);
    background-repeat: no-repeat;
    background-position: right center;
}
.About-Box{
    /* height: 650px; */
    width: 90%;
    /* background-color: rgb(64, 0, 255); */
    margin: auto;
}
.About-first{
    /* height: 650px; */
    width: 50%;
    float: left;
    /* background-color: brown; */

}
.About-second{
    width: 50%;
    /* height: 550px; */
    float: left;
    /* background-color:green; */
}
.About-Box-1{
    /* height: 550px; */
    width: 60%;
    float: left;
    /* background-color: rebeccapurple; */
}
.About-img-1{
    height: 480px;
    margin-top: 80px;
    margin-left: 150px;
}
.About-Box-2{
    height: 550px;
    width: 40%;
    float: left;
    background-color: white;
}
.About-img-2{
    margin-left: 20px;
    margin-top: 180px;

}
/*  choose*/
.home-row-3{
    height: 900px;
    width: 100%;
    /* background-color: red; */
    float: left;
    position: relative;
}
.home-row-31{
    height: 890px;
    width:80%;
    /* background-color: black; */
    margin: auto;
}
.home-row-311{
    height: 890px;
    width: 50%;
    /* background-color: yellow; */
    float: left;
}
.row-311-head{
    color: rgba(121, 110, 94, 0.719);
    font-size: 20px;
}
.home-row-3-1{
    height: 785px;
    width: 100%;
    /* background-color: purple; */
}
.home-row-list{
    list-style-type: none;
    li{
        font-size: 20px;
        margin-top: 20px;
        
        i{    
            color: red;
        }
    }
}
.number-box{
    height: 200px;
    width: 100%;
    /* background-color: bisque; */
}
.number-box-1{
    float: left;
    width: 33%;
    /* background-color: aqua; */
    height: 200px;
    position: relative;
}
.number-head{
    position: absolute;
    top: 30px;
    left: 50px;
    font-size: 50px;
    color: orangered;
}
.number-para{
    position: absolute;
    top: 90px;
    left: 10px;
    font-size: 20px;
}
/*  */
.home-row-312{
    height: 890px;
    width: 50%;
    float: left;
    /* background-color: brown; */
}
.home-row-3121{
    height: 630PX;
    width: 100%;
    /* background-color: green; */
}

.home-0311{
    height: 290px;
    width: 45%;
    float: left;
    /* background-color: violet; */
    position: relative;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 5px 5px 13px 6px rgba(0, 0, 0, 0.3);
}
.home-0311:hover{
    
    background-color: #0164E7;
}

.home-0311:hover .home-03111{
    
    background-color:white;
    i{
    
      color: aqua;
    }
}  

.head-03{
    /* position: absolute;
    top: 120px;
    left: 40px; */
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
}
.para-031{
    /* position: absolute;
    top: 160px;
    left: 12px; */
    font-size: 20px;
  margin-top: 18px;
  text-align: center;

}
.para-032{
    position: absolute;
    top: 190px;
    left: 40px;
    font-size: 20px;
}
.home-0312{
    height: 290px;
    width: 45%;
    float: left;
    /* background-color: rgb(105, 87, 15); */
    position: relative;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 5px 5px 17px 6px rgba(0, 0, 0, 0.3);

}
.home-0312:hover{
    
    background-color: #0164E7;
}
.home-0312:hover .home-03111{
    
    background-color:white;
    i{
    
      color: aqua;
    }
}
.home-03111{
    height: 80px;
    width: 40%;
    background-color:#0164E7;
    border: 1px solid;
    border-radius: 50%;
    margin: auto;
    margin-top: 10px;
    /* position: absolute; */
    /* top: 20px; */
    /* left: 100px; */
    i{
        /* position: absolute; */
        font-size: 35px;
        /* top: 20px; */
        /* left: 20px; */
        color: white;
        text-align: center;
        display: block;
        line-height: 80px;
      }
    }
.home-032{
    height: 300px;
    width: 100%;
    /* background-color: rgb(52, 15, 188); */
}
/*  */
.home-row-4{
    height: 300px;
    width: 100%;
    /* background-color: red; */
    float: left;
    
}
.home-row-41{
    height: 250px;
    width: 80%;
    margin: auto;
    background-color:#0164E7 ;
    background-image: url(rocket-bg.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    position: relative;  
}
.head-41{
    position: absolute;
    top: 80px;
    left: 280px; 
    font-size: 50px;
    color: white;
}
.ul-41-button{
    list-style-type: none;
    button{
        padding: 3px 15px 3px 25px ;
        font-size: 15px;
        border-radius: 40px;
        border: none;
        background-color: white;
        color: red;
        position: absolute;
        top: 160px;
        left: 500px;
    
    }
   
    i{
        padding: 10px;
        margin-left: 5px;
        border-radius: 50%;
        background-color: red;
        color: white;
    }
}
.img-41{
    position: absolute;
    top: -45px;
    right: 0px;
}
/* 5 */
.home-row-5{
    height: 600px;
    width: 100%;
    /* background-color:green; */
    float: left;
}
.home-row-51{
    height: 550px;
    width: 80%;
    /* background-color:rgb(3, 23, 3); */
    margin: auto;
}
.home-row-511{
    height: 370px;
    width: 100%;
    /* background-color: yellow; */
}
.home-row-5111{
    height: 350px;
    width: 31%;
    margin: 10px;
    /* background-color: red; */
    float: left;
    border: 1px solid;
    border-radius: 20px;
}
/*  */
.home-row-6{
    height: 830px;
    width: 100%;
    /* background-color: yellow; */
    float: left;
    background-image: url(bg-process.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.home-row-61{
    height:800px ;
    width: 80%;
    /* background-color: goldenrod; */
    margin: auto;
}
.home-row-611{
    height: 800px;
    width: 25%;
    float: left;
    /* background-color: red; */
}
.home-row-612{
    height: 800px;
    width: 50%;
    float: left;
    /* background-color: rgb(99, 8, 66); */
    position: relative;
}
.home-row-0612{
    height: 80px;
    width: 17%;
    background-color: white;
    position: absolute;
    left: 25px;
    top: 80px;
    border-radius: 50px;
}
.home-row-1612{
    height: 80px;
    width: 17%;
    background-color: white;
    position: absolute;
    left: 450px;
    top: 150px;
    border-radius: 50px;
}
.home-row-2612{
    height: 80px;
    width: 17%;
    background-color: white;
    position: absolute;
    left: 180px;
    top: 430px;
    border-radius: 50px;
}
.home-row-6121{
    height: 500px;
    width: 90%;
    background-color:#0164E7;
    margin: auto;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 25px;
}
.home-row-61210{
    height: 400px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.898);
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 50px;
    position: relative;
}
.why-img{
    height: 250px;
    position: absolute;
    right: -30px;
    bottom: 0px;
}
.buttonBox{
    height: 200px;
    width: 100%;
    /* background-color: violet; */
    position: absolute;
    top: 550px;
}
.home-row-613{
    height: 800px;
    width: 25%;
    float: left;
    /* background-color: rgb(183, 255, 0); */
}
/*  */
.home-row-7{
    height: 700px;
    width: 100%;
    background-color:white;
    float: left;
    margin-top: -50px;
}
.home-row-71{
    height: 730px;
    width: 80%;
    margin: auto;
    /* background-color: yellow; */
}
.home-row-72{
    height: 580px;
    width: 100%;
    /* background-color: green; */
}
.view{
    button{
        padding: 10px;
        width: 15%;
        font-size: 15px;
        border-radius: 20px;
        border: none;
        background-color: #0164E7;
        color: white;
        margin: 40px 40%;
        i{
            padding: 5px;
            color: orangered;
            background-color: white;
            border-radius: 50%;
        }
    }
}
.home-row-721{
    height: 560px;
    width: 31%;
    float: left;
    background-color:white;
    margin: 10px;
    position: relative;
    border-radius: 20px;
    box-shadow: 5px 7px 15px  rgba(0,0,0,0.2);
}
.home-row-721:hover{
    margin-top: -10px;
}
.home-row-7211{
    height: 100px;
    width: 30%;
    background-color: black;
    position: absolute;
    top: 15px;
    left: 130px;
    border-radius: 50px;

}
.home-row-7210{
    height: 430px;
    width: 100%;
    background-color:white;
    position: absolute;
    bottom: 0px;
    border-radius: 20px;
}
.home-row-8{
    height: 480px;
    width: 100%;
    float: left;
    /* background-color: yellow; */
    
    margin-top: 50px;
}
.home-row-81{
    height: 380px;
    width: 95%;
    margin: auto;
    /* background-color: violet; */
}
.home-row-811{
    height: 360px;
    width: 23%;
    margin:10px;
    /* background-color: rgb(234, 229, 229); */
    float: left;
    border-radius: 30px;
   border-right: 1px solid black;
    box-shadow: 10px 7px 8px 8px rgba(0, 0, 0, 0.2);
}
.home-row-811:hover{
    margin-top: 0px;
}
.home-row-0811{
    height: 70px;
    width: 70px;
    background-color: #0164E7;
    border-radius: 50px;
    margin: -30px 40%;
    position: relative;
    box-shadow: 5px 5px 5px ;
}
.head-0811{
    position: absolute;
    left: 28%;
    top: 20%;
    color: white;
}
/* 9 */
.home-row-9{
    height: 600px;
    width: 100%;
    background-color: rgb(13, 13, 231);
    float: left;
}
.home-row-91{
    height: 145px;
    width: 100%;
    background-color: yellow;
}
.home-row-912{
    height: 450px;
    width: 100%;
    margin: auto;
    background-color: rgb(15, 30, 196);  
}
.home-row-9121{
    height: 400px;
    width: 70%;
    /* background-color: red; */
    margin: auto;
}
.home-row-91211{
    height: 380px;
    width: 18%;
    /* background-color: pink; */
    margin: 10px;
    float: left;
}
.home-row-ul{
    font-size: 15px;
    color: white;
    margin-top: 20px;
    li{
        margin-top: 20px;
        font-size: 17px;

    }
}