.mainHeader{
    background-color: purple;
    height: 200px;
    float: left;
}
.mainHeader{
    background-color:yellow;
    height: 200px;
    float: left;
}
.E{
    background-color: black;
    height: 600px;
    width: 100%;
}